{% load static wagtailcore_tags wagtailimages_tags blogapp_tags wagtailroutablepage_tags %}

<div class="col-md-4">

    <div class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
            <img src="https://scontent-gmp1-1.xx.fbcdn.net/v/t1.0-9/11705273_405039616355679_493786191606366634_n.jpg?_nc_cat=103&_nc_sid=a61e81&_nc_ohc=XEJyFB7JQQgAX_GWFEO&_nc_ht=scontent-gmp1-1.xx&oh=c9a6e8dfb0e79d5f22bafed2c6d72459&oe=5EC4E05E" class="mx-auto d-block" alt="">
        </div>
        <div class="profile-usertitle">
            <div class="profile-usertitle-name">
                Modulabs
            </div>
            <div class="profile-usertitle-job">
                MODU AIFFEL
            </div>
        </div>
    </div>

    <!-- Search Widget -->
    <div class="card my-4">
      <h5 class="card-header">Search</h5>
      <div class="card-body">
        <form role="search" method="get" class="form-search" action="{% routablepageurl blog_page "post_search" %}" method="get">

        <div class="input-group">
          <input type="text" class="form-control search-query" name="q" placeholder="Search&hellip;" title="Search for:" />
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>

        </form>
      </div>
    </div>

    {% categories_list %}

    {% tags_list %}

</div>
